﻿modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5
}

tac {
    text-align: center !important;
}

.modal-footer .btn + .btn {
    margin-bottom: 0;
    margin-left: 5px
}

.modal-footer .btn-group .btn + .btn {
    margin-left: -1px
}

.modal-footer .btn-block + .btn-block {
    margin-left: 0
}

.modal-body {
    position: relative;
    padding: 15px;
    padding: 0 0 7px 0;
    margin: 0;
    font-size: 12px;
    /*text-transform: uppercase;*/
    letter-spacing: 1.5px;
    font-weight: 200;
}

.modal-title {
    margin: 0;
    padding-left: 20px;
    line-height: 1.42857143;
    font-weight: bold;
}

.white-box {
    background-color: #fff;
    -webkit-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.2);
    box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.2);
}

.white-box2 {
    background-color: #f5f5f5;
    border-radius: 6px 6px 6px 6px;
    padding: 10px;
}

.hdsmall {
    font-size: 11px;
    position: absolute;
    right: 20px;
    bottom: 19px;
    color: black;
}

.pb15 {
    padding-bottom: 15px;
}

span.hd {
    font-size: 16px;
    color: black;
}

.white-box2.selectbg {
    background-color: #c2a476;
}

.n-btn-1 {
    text-align: center;
    color: #fff !important;
    display: inline-block;
    padding: 7px 14px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-style: normal;
    width: 50%;
    background-color: #C2A476;
}

.message-list {
    float: left;
    padding: 0 30px 30px;
    width: 100%;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

    .message-list img.left {
        border-radius: 6px 6px 6px 6px;
        -moz-border-radius: 6px 6px 6px 6px;
        -webkit-border-radius: 6px 6px 6px 6px;
    }

    .message-list .white-box2 {
        margin-bottom: 15px;
    }

    .message-list .right {
        margin-top: 15px;
    }

        .message-list .right p {
            font-size: 12px;
            margin-bottom: 10px;
            line-height: 12px;
        }

    .message-list .info-text {
        min-height: 80px;
        padding-left: 95px;
        padding-right: 100px;
    }

        .message-list .info-text .hd {
            font-size: 18px;
            color: #000;
        }

        .message-list .info-text p {
            font-size: 14px;
            color: #ccc;
            margin-bottom: 0px;
        }

.white-box2 {
    background-color: #f5f5f5;
    border-radius: 6px 6px 6px 6px;
    padding: 10px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.btn-group-vertical > .btn-group:after, .btn-group-vertical > .btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .modal-header:after, .modal-header:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before {
    display: table;
    content: " "
}

.btn-group-vertical > .btn-group:after, .btn-toolbar:after, .clearfix:after, .container-fluid:after, .container:after, .dl-horizontal dd:after, .form-horizontal .form-group:after, .modal-footer:after, .modal-header:after, .nav:after, .navbar-collapse:after, .navbar-header:after, .navbar:after, .pager:after, .panel-body:after, .row:after {
    clear: both
}

.n-btn-1 {
    font-family: 'Raleway-Medium';
    text-align: center;
    color: #fff !important;
    background-color: #c2a476;
    display: inline-block;
    padding: 7px 14px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

    .n-btn-1:hover {
        color: #fff;
    }
