﻿modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5
}

tac {
    text-align: center !important;
}

.modal-footer .btn + .btn {
    margin-bottom: 0;
    margin-left: 5px
}

.modal-footer .btn-group .btn + .btn {
    margin-left: -1px
}

.modal-footer .btn-block + .btn-block {
    margin-left: 0
}

.modal-body {
    position: relative;
    padding: 15px;
}

.modal-title {
    margin: 0;
    line-height: 1.42857143
}

.white-box {
    background-color: #fff;
    -webkit-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.2);
    box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.2);
}

.white-box2 {
    background-color: #fff;
    border-radius: 6px 6px 6px 6px;
    padding: 10px;
}

.hdsmall {
    font-size: 11px;
    position: absolute;
    right: 10px;
    bottom: 16px;
}

.pb15 {
    padding-bottom: 15px;
}

span.hd {
    font-size: 16px;
    color: black;
}

.white-box2.selectbg {
    background-color: #c2a476;
}

.n-btn-1 {
    text-align: center;
    color: #fff !important;
    display: inline-block;
    padding: 7px 14px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-style: normal;
    width: 100%;
    background-color: #C2A476;
}
