﻿.hide {
    display: none;
}

.cursor-point {
    cursor: pointer;
}

.img-table {
    height: 50px !important;
}

.errormessage {
    color: red;
}

/*.inner-table td {
    padding: 0px!important;
}*/